
body{
  background-color: #dadbd3;;
}

.app {
  display: grid;
  place-items: center;    
  background-color: #dadbd3;
  min-height: 100vh;
}

.app_body {
  display: grid;
  background-color: #ededed;
  max-height: 90vh;
  width: 90vw;
  margin-top: -50px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}


/* Scrollbar Styles

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #242324; */

  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


@media only screen and (max-width: 720px) {
  .app_body{
    grid-template-rows: 100% 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 721px) {
  .app_body{
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 35% 65%;
  }
}